<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>


<div class='sidebar'>

    <div class="card">
      <div class="card-body">
        <h5> Countries </h5>
      </div>
    </div>
  <ul class="list-group">
    <div id='listings' class='listings'>
      <li *ngFor="let country of data;index as i">
        <div class="card country">
          <div class="card-body" id={{i}} (click)="locate(country,i)">
            {{ country.attributes.Country_Region }}
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>

<div id="map" class="map"></div>